@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
*
{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}
.container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .mynav
  {
    height: 26px;
    position: relative;
    font-size: 16px;
  }
  .mynav div ul li a
  {
    color: #303030;
  }
  .donate-btn
  {
    font-weight: 600;
    padding: 10px 50px 10px 50px;
  }
  .donate
  {
    height: 60px;
  }
  /*VIDEO-HOME*/
  .section {
  position: relative;
  width: 100%;
  height: 94vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.section h1 {
  text-align: center;
  font-size: 6rem;
  font-family: "Cookie";
  padding: 20px;
  margin: 15px;
  z-index: 1;
  opacity: 0.7;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100vh;
  opacity: 0.5;
}
/*BACKGROUND*/

.header
{
	min-height: 69vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/assets/images/background.jpeg);
	background-position: center;
	background-size: cover;
	position: relative;
}

.textbox
{
	width: 90%;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.textbox h1
{
  font-size:  80px;
}
.textbox p
{
  font-size: 26px;
}

.mybutton
{
	color:  white;
	/*background-color: #f44336;*/
	width:12%;
	height: 55px;
	padding: 10px;
	font-size: 16px;
	background-color: transparent;
	position: relative;
	cursor: pointer;
	border-color: white;
	border: solid 2px;
}

.mybutton:hover
{
	background-color: #f44336;
	transition: 1.5s;
}
.mybutton a
{
  text-decoration: none;
  color: #fff;
}
@media(max-width:1000px)
{
  .textbox h1
{
	font-size: 30px;
}
.textbox p
{
	font-size: 16px;
}

.mybutton
{
	width: 50%;
}
}
/*ABOUT-US*/
.about
{
  margin-top: 6%;
}
.description
{
  color: #ff4436;
  text-align: center;
  font-size: 45px;
  margin: 5%;
}
.description-p
{
  margin: 2%;
  font-size:  20px;
  text-align: center;
}
.about img
{
  margin-left: 15%;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width:1000px)
{
  .about img
  {
  margin-left: 3%;  
  }
}
/*SERVICES*/
.services
  {
      margin-top: 5%;
      padding: 2%;
      font-weight: 600;
      margin: 2%;
  }
  .services .description
  {
      text-align: center;
  }
.services-item
{
    padding: 3%;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    margin: 2%;
    margin-left: 14%;
}
.services-item i
{
    font-size: 40px;
    color: #47b2e4;
    margin-bottom:10px ;
}
.services-item-title
{
    color: #37517e;
    font-weight:bold;
}
.services-item:hover
{
  transform: translateY(-20px);
  transition: 0.8s;
}
.services-item img
{
 margin-bottom: 6%;
}
@media(max-width:1000px)
{
  .services-item
  {
    margin-left: 0%;
  }
}
/*WHY US*/
.whyus ul li
{
  font-size: 25px;
}
@media(max-width:1000px)
{
  .whyus ul li
  {
    font-size: 20px;
  }
  .description
  {
    font-size: 35px;
  }
}
/*hr*/
.divider
{
  width: 80%;
  margin-left: 10%;
}
/*GALLERY*/

.gallery {
  margin-top: 4%;
}

.gallery div {
  margin-bottom: 4%;
}

.gallery div img {
  border-radius: 10px;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translatey(-100px);
  -ms-transform: translatey(-100px);
  transform: translatey(-100px);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  padding: 10px;
}

.hovereffect a.info {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin: 50px 0 0;
  padding: 7px 14px;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect:hover img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
}

.hovereffect:hover h2,
.hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-transform: translatey(0);
  -webkit-transform: translatey(0);
  transform: translatey(0);
}

.hovereffect:hover a.info {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}
/*VIDEOS*/
.wrapper
{
  position: relative;
  padding: 0;
}
.wrapper iframe
{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
@media(max-width:1000px)
{
  .wrapper iframe
  {
    width: 50%;
    height: 50%;
  }
}
/*CONTACT*/

.contact {
  padding: 5%;
}

.contact .info {
  border-top: 3px solid #47b2e4;
  border-bottom: 3px solid #47b2e4;
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}

.contact .info i {
  font-size: 20px;
  color: #47b2e4;
  float: left;
  width: 44px;
  height: 44px;
  background: #e7f5fb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #37517e;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #6182ba;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: #47b2e4;
  color: #fff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #47b2e4;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  border-top: 3px solid #47b2e4;
  border-bottom: 3px solid #47b2e4;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
  margin-bottom: 20px;
}

.contact .php-email-form label {
  padding-bottom: 8px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #47b2e4;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: #47b2e4;
  border: 0;
  padding: 12px 34px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #209dd8;
}

@-webkit-keyframes animate-loading {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
/*FOOTER*/
.mycontainer
{
  text-align: center;
  padding: 30px;
}
.mycontainer h1
{
  font-weight: 400;
}